$blue: rgb(71,129,171);
$result-color: rgba(71,129,171, 0);
$block-size: 30;
$sans: BentonSans, Arial, Helvetica, sans-serif;
$serif: Georgia, serif;
$claret-text: #9b164f;

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.reaction-kicker{
  font-weight: bold;
  text-transform: uppercase;
  font-family: $sans;
  display: block;
  font-size: 12px;
  margin:5px 0;
}

.reaction-info {
  @extend .pull-left;
  width: 230px;
}

.reaction-controls {
  @extend .pull-right;
}

.reactor-hide{ 
  display: none;
  visibility: hidden;
}

.reactor-show{
  display: block;
  visibility: visible;
}


.reaction-widget{
  display: inline-block;
  width: 352px;
  border-top:4px solid #A7A59B;
  background-color: transparent;
  margin:10px 0;
}

.reaction-widget, .reaction-widget * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reaction-question {
  font-family: $serif;
  display: inline-block;
  font-size: 17px;
  margin:0 0 5px 0;
}

.reaction-state-vote{
  .show-on-vote{ 
    @extend .reactor-show;
  }
  .show-on-results{
    @extend .reactor-hide;
  }
  .hide-on-vote{
    @extend .reactor-hide;
  }
  .hide-on-results{
    @extend .reactor-show;
  }
}

.reaction-state-results{
  .show-on-vote{ 
    @extend .reactor-hide;
  }
  .show-on-results{
    @extend .reactor-show;
  }
  .hide-on-vote{
    @extend .reactor-show;
  }
  .hide-on-results{
    @extend .reactor-hide;
  }
  &.reaction-user-known{
    .tweet-reaction{
      display: inline-block;
      visibility: visible;
    }
  }
}

.reaction-user-known{
  .show-on-anonymous{ 
    @extend .reactor-hide;
  }
  .show-on-know{
    @extend .reactor-show;
  }
  .hide-on-anonymous{
    @extend .reactor-show;
  }
  .hide-on-know{
    @extend .reactor-hide;
  }
}

.reaction-user-anonymous{
  .show-on-anonymous{ 
    @extend .reactor-show;
  }
  .show-on-know{
    @extend .reactor-hide;
  }
  .hide-on-anonymous{
    @extend .reactor-hide;
  }
  .hide-on-know{
    @extend .reactor-show;
  }
}

.tweet-reaction{
  @extend .reactor-hide;
  padding: 3px 7px;
  color: white;
  border-radius: 3px;
  font-family: $sans;
  font-size: 12px;
  background: #549ccf; /* Old browsers */
  background: -moz-linear-gradient(top, #549ccf 1%, #4781ab 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#549ccf), color-stop(100%,#4781ab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #549ccf 1%,#4781ab 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #549ccf 1%,#4781ab 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #549ccf 1%,#4781ab 100%); /* IE10+ */
  background: linear-gradient(to bottom, #549ccf 1%,#4781ab 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#549ccf', endColorstr='#4781ab',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
}

.reaction-axis{
  padding:0;
}

.reaction-graph{
  display: inline-block;
  //border: 1px solid ;
}

.reaction-count{
 color:$claret-text;
 font-family: $sans;
 font-size: 14px;
 span{
 font-size: 20px;
 padding-top:10px;
 }
}

.reaction {
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  outline: 0 none;
  overflow: hidden;
  cursor: default;
}

.reaction.usable {
  cursor: pointer;
  cursor: hand;
  // &:hover{
  //   color: d($result-color, 20%);
  // };
}

$dark-tick: darken($blue, 20%);

@for $i from 0 through 10 {
    .reaction-result-#{$i} {
        $o: $i / 10;
        $o-col: opacify($result-color, $o);
        background-color: $o-col;
        @if $i > 4 {
          color: white;
        } @else {
          color: $dark-tick;
        }
    }
}

.reaction.selected{
  //border: 1px solid $result-color;
}
